@import "src/style/color-var";

.side-nav {
  height: calc(100% - 90px) !important;

  & > mat-drawer {
    min-width: 250px !important;
    box-shadow: 3px 0 4px -2px rgb(0 0 0 / 30%);
  }
}

.header-menu {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;

  & > span {
    //color: $laranja-sius;
    font-size: 16px;
    text-decoration: underline;
  }
}

.btn-menu-option {
  transform: rotate(180deg);
}

.seta-option {
  font-size: 24px !important;
  font-weight: bold;
}

.content-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  border-right: 1px solid $laranja-sius;
  margin-right: 20px;

  & > .logo {
    cursor: pointer;
    height: 100%;
    width: 115px;
  }
}

.titulo-header {
  color: $laranja-sius;
}

mat-nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  background-color: #EEEEEE;
  height: 50px;
}

.mat-list-title {
  width: 100%;
  margin-left: 15px;
  & > span {
    color: $preto-sius !important;
    font-weight: bold !important;
  }
}

.menu-item-list {
  display: flex;
  align-items: center;

  & > i {
    font-size: 22px;
  }
}


mat-toolbar {
  height: 90px;
  //background-color: #0061a6 !important;
  background: url("/assets/header-background.png") !important;
}

mat-toolbar-row {
  align-items: center;
  height: 100%;
}

mat-drawer {
  background-color: #FAFAFA;
}

// Controla o FOCUS do item do menu lateral
.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  background-color: $laranja-sius !important;
  color: white !important;
}

// Ativa o link sem a necessidade de clicar no item
.active-link {
  background-color: $laranja-sius !important;
  color: white !important;
}

// Controla o HOVER do item do menu lateral
.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
  //background-color: #989898;
  //color: white;
}
