<mat-toolbar color="primary">
  <mat-toolbar-row>
<!--    <span>SIUS</span>-->
    <div class="content-logo">
      <img class="logo" src="assets/logo.png" />
    </div>

    <span class="titulo-header">Sistema Auxiliar Municipal de Saúde</span>

    <div class="header-menu">

      <img height="40" width="40" class="rounded-circle" src="assets/perfil-anonimo.jpg" />

      <span class="ml-3 mr-2" *ngIf="perfilAtivo === 0">Secretaria de Saúde</span>
      <span class="ml-3 mr-2" *ngIf="perfilAtivo === 1">Enfermeiro / Coordenador</span>

      <button class="btn-menu-option" mat-icon-button [matMenuTriggerFor]="menu">
        <i class="ic-ctrl seta-option"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="d-flex align-items-center" (click)="logout()">
          <i class="ic-exit mr-2"></i><span>Deslogar</span>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

<mat-drawer-container class="side-nav">
  <mat-drawer mode="side" opened>

    <mat-selection-list class="pt-0" [multiple]="false">

      <mat-list-option routerLink="relatorio-dashboard" [routerLinkActive]="'active-link'">
        <div class="menu-item-list">
          <i class="ic-pie-chart mr-3"></i> Dashboard
        </div>
      </mat-list-option>

      <div *ngIf="perfilAtivo === 1">
        <mat-nav-list>
          <div class="mat-list-title">
            <span>PACIENTES</span>
          </div>
        </mat-nav-list>

        <mat-list-option routerLink="calendario-vacinacao" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-calendar mr-3"></i> Calendário de Vacinação
          </div>
        </mat-list-option>

        <mat-divider></mat-divider>

        <mat-list-option routerLink="registrar-vacinacao" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-barcode mr-3"></i> Registrar Vacinação
          </div>
        </mat-list-option>

        <mat-divider></mat-divider>

<!--        <mat-list-option>-->
<!--          <div class="menu-item-list" routerLink="registrar-caderneta">-->
<!--            <i class="ic-profile mr-3"></i> Registrar Caderneta-->
<!--          </div>-->
<!--        </mat-list-option>-->

<!--        <mat-divider></mat-divider>-->
      </div>



      <mat-nav-list>
        <div class="mat-list-title">
          <span>VACINAS</span>
        </div>
      </mat-nav-list>

      <div *ngIf="perfilAtivo === 1">

        <mat-list-option routerLink="verificar-estoque" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-file-text mr-3"></i> Verificar Estoque
          </div>
        </mat-list-option>

        <mat-divider></mat-divider>

        <mat-list-option routerLink="solicitar-vacina" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-loop mr-3"></i> Solicitar Vacina
          </div>
        </mat-list-option>

        <mat-divider></mat-divider>

        <mat-list-option routerLink="registrar-lote" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-clipboard mr-3"></i> Registrar Lote
          </div>
        </mat-list-option>
      </div>

      <div *ngIf="perfilAtivo === 0">
        <mat-divider></mat-divider>
        <mat-list-option routerLink="cadastrar-vacina" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-pen mr-3"></i> Cadastrar Vacina
          </div>
        </mat-list-option>

        <mat-divider></mat-divider>
        <mat-list-option routerLink="liberar-lote" [routerLinkActive]="'active-link'">
          <div class="menu-item-list">
            <i class="ic-truck mr-3"></i> Liberar Lote
          </div>
        </mat-list-option>
      </div>

    <!--  PARTE DA SECRETARIA DE SAÚDE    -->



    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
