<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SIUS</span>
    
    <button class="header-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="d-flex align-items-center">
        <i class="ic-exit mr-2"></i><span>Deslogar</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>


<!--  <mat-toolbar-row>-->
<!--    <span>Second Line</span>-->
<!--    <span class="example-spacer"></span>-->
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--      <mat-icon>share</mat-icon>-->
<!--    </button>-->
<!--  </mat-toolbar-row>-->
</mat-toolbar>

<mat-drawer-container class="side-nav">
  <mat-drawer mode="side" opened>

    <mat-selection-list class="pt-0" [multiple]="false">
      <mat-list-option>Registrar Vacinação</mat-list-option>
      <mat-divider></mat-divider>
      <mat-list-option>Verificar Estoque</mat-list-option>
      <mat-divider></mat-divider>
      <mat-list-option>Solicitar Vacina</mat-list-option>
      <mat-divider></mat-divider>
      <mat-list-option>Registrar Lote</mat-list-option>
    </mat-selection-list>
<!--    <div class="menu-option">-->
<!--      <div>-->
<!--        <button mat-button color="primary">Registrar Vacinação</button>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button mat-button color="primary">Verificar Estoque</button>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button mat-button color="primary">Solicitar Vacina</button>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button mat-button color="primary">Registrar Lote</button>-->
<!--      </div>-->
<!--    </div>-->
  </mat-drawer>

  <mat-drawer-content>
    Main content
  </mat-drawer-content>

</mat-drawer-container>
