<mat-toolbar color="primary">
  <mat-toolbar-row>
<!--    <span>SIUS</span>-->
    <div class="content-logo">
      <img class="logo" src="assets/logo.png" />
    </div>

    <span class="titulo-header">Sistema de Informação Único de Saúde</span>

    <div class="header-menu">

      <img height="40" width="40" class="rounded-circle" src="assets/perfil-anonimo.jpg" />

      <span class="ml-3 mr-2">Enfermeiro / Coordenador</span>

      <button class="btn-menu-option" mat-icon-button [matMenuTriggerFor]="menu">
        <i class="ic-ctrl seta-option"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="d-flex align-items-center">
          <i class="ic-exit mr-2"></i><span>Deslogar</span>
        </button>
      </mat-menu>
    </div>





  </mat-toolbar-row>

</mat-toolbar>

<mat-drawer-container class="side-nav">
  <mat-drawer mode="side" opened>

    <mat-selection-list class="pt-0" [multiple]="false">

      <mat-nav-list>
        <div class="mat-list-title">
          <span>PACIENTES</span>
        </div>
      </mat-nav-list>

      <mat-list-option routerLink="calendario-vacinacao">
        <div class="menu-item-list">
          <i class="ic-calendar mr-3"></i> Calendário de Vacinação
        </div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option>
        <div class="menu-item-list" routerLink="registrar-caderneta">
          <i class="ic-profile mr-3"></i> Registrar Caderneta
        </div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <div class="mat-list-title">
          <span>VACINAS</span>
        </div>
      </mat-nav-list>

      <mat-list-option routerLink="registrar-vacinacao">
        <div class="menu-item-list">
          <i class="ic-barcode mr-3"></i> Registrar Vacinação
        </div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option routerLink="verificar-estoque">
        <div class="menu-item-list">
          <i class="ic-file-text mr-3"></i> Verificar Estoque
        </div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option routerLink="solicitar-vacina">
        <div class="menu-item-list">
          <i class="ic-truck mr-3"></i> Solicitar Vacina
        </div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option routerLink="registrar-lote">
        <div class="menu-item-list">
          <i class="ic-clipboard mr-3"></i> Registrar Lote
        </div>
      </mat-list-option>


    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
