<div class="modal-header">
  <span>Aviso</span>
  <div class="d-flex justify-content-end align-items-center">
    <i class="ic-cross text-grey mr-2" (click)="closeModal()"></i>
  </div>
</div>

<div class="modal-content">
  <div class="content">
    <span>{{ message }}</span>
  </div>
</div>

<div class="modal-footer">

  <div class="d-flex w-100 justify-content-end">
    <button mat-raised-button color="primary" (click)="closeModal()">
      <span><i class="ic-checkmark mr-2"></i>Ok</span>
    </button>
  </div>
</div>
