<div class="page">

  <div class="page-content">

    <div class="page-content-title d-flex align-items-center">
      <span class="w-100">Registrar Vacinação</span>

      <div class="d-flex justify-content-end align-items-center w-100">
        <button mat-raised-button color="primary" (click)="novoRegistro()">
          <i class="ic-plus mr-2"></i>Novo Registro
        </button>
      </div>

    </div>
    <div class="page-content-line"></div>

    <div class="content">

      <div class="d-flex w-100 justify-content-center" *ngIf="this.listaRegistro.length === 0 && !loading">
        <span>Lista Vazia</span>
      </div>

      <div class="content-loader">
        <div *ngIf="loading" class="spinner-border" role="status"><span class="sr-only"></span></div>
      </div>


      <div *ngIf="this.listaRegistro.length !== 0 && !loading">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Nome da Vacina</th>
            <th scope="col">Número do Sus</th>
            <th scope="col">Idade</th>
            <th scope="col">Vacina Aplicada</th>
            <th scope="col">Data da Vacinação</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let registro of listaRegistro">
            <td>{{registro.nome}}</td>
            <td>{{registro.numeroSus}}</td>
            <td>{{registro.idade}}</td>
            <td>{{registro.vacina}}</td>
            <td>{{registro.dataVacinacao}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
