$white: #ffffff;
$red: #d95f5f;
$redLight: #D9A4A4;
$redCeleste: #FF9292;
$blue: #0284CA;
$blueBaby: #A2D1DE;
$blueLight: #7082a4;
$blueCeleste: #E9EFF4;
$green: #259821;
$greenLight: #98C72A;
$greenMint: #D4ECD4;
$yellow: #FBA61C;
$yellowLight: #FFD012;
$orange: #ef6b01;
$grey: #585858;
$greyBaby: #BFCDD5;
$greyDefault: #ABABAB;
$greyLight: #EEEEEE;
$greyDark: #323c47;
$greyLight2: #e9ecef;

