$icomoon-font-family: "iconmoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-home: "\e900";
$ic-home2: "\e901";
$ic-home3: "\e902";
$ic-office: "\e903";
$ic-newspaper: "\e904";
$ic-pencil: "\e905";
$ic-pencil2: "\e906";
$ic-quill: "\e907";
$ic-pen: "\e908";
$ic-blog: "\e909";
$ic-eyedropper: "\e90a";
$ic-droplet: "\e90b";
$ic-paint-format: "\e90c";
$ic-image: "\e90d";
$ic-images: "\e90e";
$ic-camera: "\e90f";
$ic-headphones: "\e910";
$ic-music: "\e911";
$ic-play: "\e912";
$ic-film: "\e913";
$ic-video-camera: "\e914";
$ic-dice: "\e915";
$ic-pacman: "\e916";
$ic-spades: "\e917";
$ic-clubs: "\e918";
$ic-diamonds: "\e919";
$ic-bullhorn: "\e91a";
$ic-connection: "\e91b";
$ic-podcast: "\e91c";
$ic-feed: "\e91d";
$ic-mic: "\e91e";
$ic-book: "\e91f";
$ic-books: "\e920";
$ic-library: "\e921";
$ic-file-text: "\e922";
$ic-profile: "\e923";
$ic-file-empty: "\e924";
$ic-files-empty: "\e925";
$ic-file-text2: "\e926";
$ic-file-picture: "\e927";
$ic-file-music: "\e928";
$ic-file-play: "\e929";
$ic-file-video: "\e92a";
$ic-file-zip: "\e92b";
$ic-copy: "\e92c";
$ic-paste: "\e92d";
$ic-stack: "\e92e";
$ic-folder: "\e92f";
$ic-folder-open: "\e930";
$ic-folder-plus: "\e931";
$ic-folder-minus: "\e932";
$ic-folder-download: "\e933";
$ic-folder-upload: "\e934";
$ic-price-tag: "\e935";
$ic-price-tags: "\e936";
$ic-barcode: "\e937";
$ic-qrcode: "\e938";
$ic-ticket: "\e939";
$ic-cart: "\e93a";
$ic-coin-dollar: "\e93b";
$ic-coin-euro: "\e93c";
$ic-coin-pound: "\e93d";
$ic-coin-yen: "\e93e";
$ic-credit-card: "\e93f";
$ic-calculator: "\e940";
$ic-lifebuoy: "\e941";
$ic-phone: "\e942";
$ic-phone-hang-up: "\e943";
$ic-address-book: "\e944";
$ic-envelop: "\e945";
$ic-pushpin: "\e946";
$ic-location: "\e947";
$ic-location2: "\e948";
$ic-compass: "\e949";
$ic-compass2: "\e94a";
$ic-map: "\e94b";
$ic-map2: "\e94c";
$ic-history: "\e94d";
$ic-clock: "\e94e";
$ic-clock2: "\e94f";
$ic-alarm: "\e950";
$ic-bell: "\e951";
$ic-stopwatch: "\e952";
$ic-calendar: "\e953";
$ic-printer: "\e954";
$ic-keyboard: "\e955";
$ic-display: "\e956";
$ic-laptop: "\e957";
$ic-mobile: "\e958";
$ic-mobile2: "\e959";
$ic-tablet: "\e95a";
$ic-tv: "\e95b";
$ic-drawer: "\e95c";
$ic-drawer2: "\e95d";
$ic-box-add: "\e95e";
$ic-box-remove: "\e95f";
$ic-download: "\e960";
$ic-upload: "\e961";
$ic-floppy-disk: "\e962";
$ic-drive: "\e963";
$ic-database: "\e964";
$ic-undo: "\e965";
$ic-redo: "\e966";
$ic-undo2: "\e967";
$ic-redo2: "\e968";
$ic-forward: "\e969";
$ic-reply: "\e96a";
$ic-bubble: "\e96b";
$ic-bubbles: "\e96c";
$ic-bubbles2: "\e96d";
$ic-bubble2: "\e96e";
$ic-bubbles3: "\e96f";
$ic-bubbles4: "\e970";
$ic-user: "\e971";
$ic-users: "\e972";
$ic-user-plus: "\e973";
$ic-user-minus: "\e974";
$ic-user-check: "\e975";
$ic-user-tie: "\e976";
$ic-quotes-left: "\e977";
$ic-quotes-right: "\e978";
$ic-hour-glass: "\e979";
$ic-spinner: "\e97a";
$ic-spinner2: "\e97b";
$ic-spinner3: "\e97c";
$ic-spinner4: "\e97d";
$ic-spinner5: "\e97e";
$ic-spinner6: "\e97f";
$ic-spinner7: "\e980";
$ic-spinner8: "\e981";
$ic-spinner9: "\e982";
$ic-spinner10: "\e983";
$ic-spinner11: "\e984";
$ic-binoculars: "\e985";
$ic-search: "\e986";
$ic-zoom-in: "\e987";
$ic-zoom-out: "\e988";
$ic-enlarge: "\e989";
$ic-shrink: "\e98a";
$ic-enlarge2: "\e98b";
$ic-shrink2: "\e98c";
$ic-key: "\e98d";
$ic-key2: "\e98e";
$ic-lock: "\e98f";
$ic-unlocked: "\e990";
$ic-wrench: "\e991";
$ic-equalizer: "\e992";
$ic-equalizer2: "\e993";
$ic-cog: "\e994";
$ic-cogs: "\e995";
$ic-hammer: "\e996";
$ic-magic-wand: "\e997";
$ic-aid-kit: "\e998";
$ic-bug: "\e999";
$ic-pie-chart: "\e99a";
$ic-stats-dots: "\e99b";
$ic-stats-bars: "\e99c";
$ic-stats-bars2: "\e99d";
$ic-trophy: "\e99e";
$ic-gift: "\e99f";
$ic-glass: "\e9a0";
$ic-glass2: "\e9a1";
$ic-mug: "\e9a2";
$ic-spoon-knife: "\e9a3";
$ic-leaf: "\e9a4";
$ic-rocket: "\e9a5";
$ic-meter: "\e9a6";
$ic-meter2: "\e9a7";
$ic-hammer2: "\e9a8";
$ic-fire: "\e9a9";
$ic-lab: "\e9aa";
$ic-magnet: "\e9ab";
$ic-bin: "\e9ac";
$ic-bin2: "\e9ad";
$ic-briefcase: "\e9ae";
$ic-airplane: "\e9af";
$ic-truck: "\e9b0";
$ic-road: "\e9b1";
$ic-accessibility: "\e9b2";
$ic-target: "\e9b3";
$ic-shield: "\e9b4";
$ic-power: "\e9b5";
$ic-switch: "\e9b6";
$ic-power-cord: "\e9b7";
$ic-clipboard: "\e9b8";
$ic-list-numbered: "\e9b9";
$ic-list: "\e9ba";
$ic-list2: "\e9bb";
$ic-tree: "\e9bc";
$ic-menu: "\e9bd";
$ic-menu2: "\e9be";
$ic-menu3: "\e9bf";
$ic-menu4: "\e9c0";
$ic-cloud: "\e9c1";
$ic-cloud-download: "\e9c2";
$ic-cloud-upload: "\e9c3";
$ic-cloud-check: "\e9c4";
$ic-download2: "\e9c5";
$ic-upload2: "\e9c6";
$ic-download3: "\e9c7";
$ic-upload3: "\e9c8";
$ic-sphere: "\e9c9";
$ic-earth: "\e9ca";
$ic-link: "\e9cb";
$ic-flag: "\e9cc";
$ic-attachment: "\e9cd";
$ic-eye: "\e9ce";
$ic-eye-plus: "\e9cf";
$ic-eye-minus: "\e9d0";
$ic-eye-blocked: "\e9d1";
$ic-bookmark: "\e9d2";
$ic-bookmarks: "\e9d3";
$ic-sun: "\e9d4";
$ic-contrast: "\e9d5";
$ic-brightness-contrast: "\e9d6";
$ic-star-empty: "\e9d7";
$ic-star-half: "\e9d8";
$ic-star-full: "\e9d9";
$ic-heart: "\e9da";
$ic-heart-broken: "\e9db";
$ic-man: "\e9dc";
$ic-woman: "\e9dd";
$ic-man-woman: "\e9de";
$ic-happy: "\e9df";
$ic-happy2: "\e9e0";
$ic-smile: "\e9e1";
$ic-smile2: "\e9e2";
$ic-tongue: "\e9e3";
$ic-tongue2: "\e9e4";
$ic-sad: "\e9e5";
$ic-sad2: "\e9e6";
$ic-wink: "\e9e7";
$ic-wink2: "\e9e8";
$ic-grin: "\e9e9";
$ic-grin2: "\e9ea";
$ic-cool: "\e9eb";
$ic-cool2: "\e9ec";
$ic-angry: "\e9ed";
$ic-angry2: "\e9ee";
$ic-evil: "\e9ef";
$ic-evil2: "\e9f0";
$ic-shocked: "\e9f1";
$ic-shocked2: "\e9f2";
$ic-baffled: "\e9f3";
$ic-baffled2: "\e9f4";
$ic-confused: "\e9f5";
$ic-confused2: "\e9f6";
$ic-neutral: "\e9f7";
$ic-neutral2: "\e9f8";
$ic-hipster: "\e9f9";
$ic-hipster2: "\e9fa";
$ic-wondering: "\e9fb";
$ic-wondering2: "\e9fc";
$ic-sleepy: "\e9fd";
$ic-sleepy2: "\e9fe";
$ic-frustrated: "\e9ff";
$ic-frustrated2: "\ea00";
$ic-crying: "\ea01";
$ic-crying2: "\ea02";
$ic-point-up: "\ea03";
$ic-point-right: "\ea04";
$ic-point-down: "\ea05";
$ic-point-left: "\ea06";
$ic-warning: "\ea07";
$ic-notification: "\ea08";
$ic-question: "\ea09";
$ic-plus: "\ea0a";
$ic-minus: "\ea0b";
$ic-info: "\ea0c";
$ic-cancel-circle: "\ea0d";
$ic-blocked: "\ea0e";
$ic-cross: "\ea0f";
$ic-checkmark: "\ea10";
$ic-checkmark2: "\ea11";
$ic-spell-check: "\ea12";
$ic-enter: "\ea13";
$ic-exit: "\ea14";
$ic-play2: "\ea15";
$ic-pause: "\ea16";
$ic-stop: "\ea17";
$ic-previous: "\ea18";
$ic-next: "\ea19";
$ic-backward: "\ea1a";
$ic-forward2: "\ea1b";
$ic-play3: "\ea1c";
$ic-pause2: "\ea1d";
$ic-stop2: "\ea1e";
$ic-backward2: "\ea1f";
$ic-forward3: "\ea20";
$ic-first: "\ea21";
$ic-last: "\ea22";
$ic-previous2: "\ea23";
$ic-next2: "\ea24";
$ic-eject: "\ea25";
$ic-volume-high: "\ea26";
$ic-volume-medium: "\ea27";
$ic-volume-low: "\ea28";
$ic-volume-mute: "\ea29";
$ic-volume-mute2: "\ea2a";
$ic-volume-increase: "\ea2b";
$ic-volume-decrease: "\ea2c";
$ic-loop: "\ea2d";
$ic-loop2: "\ea2e";
$ic-infinite: "\ea2f";
$ic-shuffle: "\ea30";
$ic-arrow-up-left: "\ea31";
$ic-arrow-up: "\ea32";
$ic-arrow-up-right: "\ea33";
$ic-arrow-right: "\ea34";
$ic-arrow-down-right: "\ea35";
$ic-arrow-down: "\ea36";
$ic-arrow-down-left: "\ea37";
$ic-arrow-left: "\ea38";
$ic-arrow-up-left2: "\ea39";
$ic-arrow-up2: "\ea3a";
$ic-arrow-up-right2: "\ea3b";
$ic-arrow-right2: "\ea3c";
$ic-arrow-down-right2: "\ea3d";
$ic-arrow-down2: "\ea3e";
$ic-arrow-down-left2: "\ea3f";
$ic-arrow-left2: "\ea40";
$ic-circle-up: "\ea41";
$ic-circle-right: "\ea42";
$ic-circle-down: "\ea43";
$ic-circle-left: "\ea44";
$ic-tab: "\ea45";
$ic-move-up: "\ea46";
$ic-move-down: "\ea47";
$ic-sort-alpha-asc: "\ea48";
$ic-sort-alpha-desc: "\ea49";
$ic-sort-numeric-asc: "\ea4a";
$ic-sort-numberic-desc: "\ea4b";
$ic-sort-amount-asc: "\ea4c";
$ic-sort-amount-desc: "\ea4d";
$ic-command: "\ea4e";
$ic-shift: "\ea4f";
$ic-ctrl: "\ea50";
$ic-opt: "\ea51";
$ic-checkbox-checked: "\ea52";
$ic-checkbox-unchecked: "\ea53";
$ic-radio-checked: "\ea54";
$ic-radio-checked2: "\ea55";
$ic-radio-unchecked: "\ea56";
$ic-crop: "\ea57";
$ic-make-group: "\ea58";
$ic-ungroup: "\ea59";
$ic-scissors: "\ea5a";
$ic-filter: "\ea5b";
$ic-font: "\ea5c";
$ic-ligature: "\ea5d";
$ic-ligature2: "\ea5e";
$ic-text-height: "\ea5f";
$ic-text-width: "\ea60";
$ic-font-size: "\ea61";
$ic-bold: "\ea62";
$ic-underline: "\ea63";
$ic-italic: "\ea64";
$ic-strikethrough: "\ea65";
$ic-omega: "\ea66";
$ic-sigma: "\ea67";
$ic-page-break: "\ea68";
$ic-superscript: "\ea69";
$ic-subscript: "\ea6a";
$ic-superscript2: "\ea6b";
$ic-subscript2: "\ea6c";
$ic-text-color: "\ea6d";
$ic-pagebreak: "\ea6e";
$ic-clear-formatting: "\ea6f";
$ic-table: "\ea70";
$ic-table2: "\ea71";
$ic-insert-template: "\ea72";
$ic-pilcrow: "\ea73";
$ic-ltr: "\ea74";
$ic-rtl: "\ea75";
$ic-section: "\ea76";
$ic-paragraph-left: "\ea77";
$ic-paragraph-center: "\ea78";
$ic-paragraph-right: "\ea79";
$ic-paragraph-justify: "\ea7a";
$ic-indent-increase: "\ea7b";
$ic-indent-decrease: "\ea7c";
$ic-share: "\ea7d";
$ic-new-tab: "\ea7e";
$ic-embed: "\ea7f";
$ic-embed2: "\ea80";
$ic-terminal: "\ea81";
$ic-share2: "\ea82";
$ic-mail: "\ea83";
$ic-mail2: "\ea84";
$ic-mail3: "\ea85";
$ic-mail4: "\ea86";
$ic-amazon: "\ea87";
$ic-google: "\ea88";
$ic-google2: "\ea89";
$ic-google3: "\ea8a";
$ic-google-plus: "\ea8b";
$ic-google-plus2: "\ea8c";
$ic-google-plus3: "\ea8d";
$ic-hangouts: "\ea8e";
$ic-google-drive: "\ea8f";
$ic-facebook: "\ea90";
$ic-facebook2: "\ea91";
$ic-instagram: "\ea92";
$ic-whatsapp: "\ea93";
$ic-spotify: "\ea94";
$ic-telegram: "\ea95";
$ic-twitter: "\ea96";
$ic-vine: "\ea97";
$ic-vk: "\ea98";
$ic-renren: "\ea99";
$ic-sina-weibo: "\ea9a";
$ic-rss: "\ea9b";
$ic-rss2: "\ea9c";
$ic-youtube: "\ea9d";
$ic-youtube2: "\ea9e";
$ic-twitch: "\ea9f";
$ic-vimeo: "\eaa0";
$ic-vimeo2: "\eaa1";
$ic-lanyrd: "\eaa2";
$ic-flickr: "\eaa3";
$ic-flickr2: "\eaa4";
$ic-flickr3: "\eaa5";
$ic-flickr4: "\eaa6";
$ic-dribbble: "\eaa7";
$ic-behance: "\eaa8";
$ic-behance2: "\eaa9";
$ic-deviantart: "\eaaa";
$ic-500px: "\eaab";
$ic-steam: "\eaac";
$ic-steam2: "\eaad";
$ic-dropbox: "\eaae";
$ic-onedrive: "\eaaf";
$ic-github: "\eab0";
$ic-npm: "\eab1";
$ic-basecamp: "\eab2";
$ic-trello: "\eab3";
$ic-wordpress: "\eab4";
$ic-joomla: "\eab5";
$ic-ello: "\eab6";
$ic-blogger: "\eab7";
$ic-blogger2: "\eab8";
$ic-tumblr: "\eab9";
$ic-tumblr2: "\eaba";
$ic-yahoo: "\eabb";
$ic-yahoo2: "\eabc";
$ic-tux: "\eabd";
$ic-appleinc: "\eabe";
$ic-finder: "\eabf";
$ic-android: "\eac0";
$ic-windows: "\eac1";
$ic-windows8: "\eac2";
$ic-soundcloud: "\eac3";
$ic-soundcloud2: "\eac4";
$ic-skype: "\eac5";
$ic-reddit: "\eac6";
$ic-hackernews: "\eac7";
$ic-wikipedia: "\eac8";
$ic-linkedin: "\eac9";
$ic-linkedin2: "\eaca";
$ic-lastfm: "\eacb";
$ic-lastfm2: "\eacc";
$ic-delicious: "\eacd";
$ic-stumbleupon: "\eace";
$ic-stumbleupon2: "\eacf";
$ic-stackoverflow: "\ead0";
$ic-pinterest: "\ead1";
$ic-pinterest2: "\ead2";
$ic-xing: "\ead3";
$ic-xing2: "\ead4";
$ic-flattr: "\ead5";
$ic-foursquare: "\ead6";
$ic-yelp: "\ead7";
$ic-paypal: "\ead8";
$ic-chrome: "\ead9";
$ic-firefox: "\eada";
$ic-IE: "\eadb";
$ic-edge: "\eadc";
$ic-safari: "\eadd";
$ic-opera: "\eade";
$ic-file-pdf: "\eadf";
$ic-file-openoffice: "\eae0";
$ic-file-word: "\eae1";
$ic-file-excel: "\eae2";
$ic-libreoffice: "\eae3";
$ic-html-five: "\eae4";
$ic-html-five2: "\eae5";
$ic-css3: "\eae6";
$ic-git: "\eae7";
$ic-codepen: "\eae8";
$ic-svg: "\eae9";
$ic-IcoMoon: "\eaea";

