
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sius-client-primary: mat-palette($mat-indigo);
$sius-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sius-client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sius-client-theme: mat-light-theme((
  color: (
    primary: $sius-client-primary,
    accent: $sius-client-accent,
    warn: $sius-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sius-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "src/style/style";

@import "style/color-var";

// Estilo padrão do content de conteúdo
.page {
  //height: 100%;

  & > .content {
    position: relative;
    top: 80px;
    margin-inline: 40px;
  }

  .page-content {
    margin-inline: 40px;

    & > .page-content-title {
      margin-top: 40px;

      & > span {
        color: #003771;
        font-size: 32px;
      }
    }

    & > .page-content-line {
      height: 15px;
      width: 100%;
      position: absolute;
      //background-color: #f3f6f8;
      background-color: #EEEEEE;
      left: 0;
      margin-top: 30px;
    }
  }
}


