<div class="page">

  <div class="page-content">

    <div class="page-content-title d-flex align-items-center">
      <span class="w-100">Cadastrar Vacina</span>

        <div class="d-flex justify-content-end align-items-center w-100">
          <button mat-raised-button color="primary" (click)="cadastrarVacina()">
            <i class="ic-plus mr-2"></i>Cadastrar Vacina
          </button>
        </div>

    </div>
    <div class="page-content-line"></div>

    <div class="content">

      <div class="content-loader">
        <div *ngIf="loading" class="spinner-border" role="status"><span class="sr-only"></span></div>
      </div>


      <div *ngIf="!loading" class="mb-3 search">
        <input class="form-control" type="text" placeholder="" (keyup)="search($event)" />
        <i class="ic-search"></i>
      </div>

      <div class="d-flex w-100 justify-content-center" *ngIf="this.listaVacinasFilter.length === 0 && !loading">
        <span>Lista Vazia</span>
      </div>

      <div *ngIf="this.listaVacinasFilter.length !== 0 && !loading">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Nome da Vacina</th>
            <th scope="col">Fabricante</th>
<!--            <th scope="col">Data de Fabricação</th>-->
            <th scope="col">Número do Registro</th>
            <th scope="col">Bula</th>
            <th scope="col" class="d-flex justify-content-center">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vacina of listaVacinasFilter">
            <td>{{vacina.nome}}</td>
            <td>{{vacina.fabricante}}</td>
<!--            <td>{{vacina.dataFabricacao}}</td>-->
            <td>{{vacina.numeroRegistro}}</td>
            <td><span *ngIf="vacina.bula !== ''" class="bula" (click)="abrirBula(vacina.bula)"><i class="ic-file-pdf"></i></span></td>
            <td class="d-flex justify-content-center">
              <button mat-flat-button color="primary" class="mr-2" (click)="acao('edit', vacina.id)">
                <i class="ic-pencil mr-2"></i>Editar
              </button>
              <button mat-flat-button color="warn" (click)="acao('delete', vacina.id)">
                <i class="ic-cross mr-2"></i>Excluir
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


<!--      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--        &lt;!&ndash; Name Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="nome">-->
<!--          <th mat-header-cell *matHeaderCellDef> Vacina </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="fabricante">-->
<!--          <th mat-header-cell *matHeaderCellDef> Fabricante </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.fabricante}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="numeroRegistro">-->
<!--          <th mat-header-cell *matHeaderCellDef> Número do Registro </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.numeroRegistro}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="recebimento">-->
<!--          <th mat-header-cell *matHeaderCellDef> Deletar Vacina </th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            <button mat-raised-button color="warn">Deletar</button>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--      </table>-->
    </div>
  </div>
</div>
