@import "src/style/color-var";

.grid-calendario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.card-vac {
  border-left: 2px solid $laranja-sius;
  border-bottom: 2px solid $laranja-sius;
  border-right: 2px solid $laranja-sius;
  border-radius: 5px;

  width: calc((100vw - 250px) / 4);

  & > .card-titulo {
    height: 40px;
    border-radius: 5px 5px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $azul-claro-sius;
  }

  & > .content-vacina {
    padding-top: 10px;
    padding-bottom: 10px;

    & > .card-vacina {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }


}
